<nav class="flex justify-between py-10 w-[80%] mx-auto h-32">
    <div class="w-[5%] rounded">
        <img class="w-[100%] rounded-full"   src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDmMAA1FmqWrmuZ_QG4LUDyQjctTBuxpvJlz9liXJMlu0JH0aBM94OycmoWKm-ou0KmeE&usqp=CAU" alt="LOGO">
    </div>
    <div class="flex gap-x-10">
        <% if(user) { %>
            <a class="font-bold"  href="/user/profile">Home</a>
            <a href="/post/create">Create Post</a>
            <% }else { %>
                <a class="font-bold" href="/">Home</a>

                <% } %>
                    <a class="font-bold"  href="/about">About</a>
                    <a class="font-bold"  href="/contact">Contact</a>
                    
    <% if(user){ %>

        <a href="/user/chat">Chat</a>
        <% } %>
    </div>

    <div class="w-[20%] flex justify-between">

        <% if(user) { %>
            <a class=" text-3xl  px-5 py-2  text-black font-bold" href="/user/logout">Log out</a>

           
                <img class="w-[15%] object-cover h-[90%] rounded-full"   src="<%= user.avatar.url %>"alt="LOGO">
                <a class="w-[15%]  mx-5px"  href="/user/settings"><i class="ri-chat-settings-fill text-3xl"></i></a>
        
            <% }else { %>
                <a class="text-3xl  px-5 py-2  text-black font-bold" href="/login">Log in</a>
                
                <img class="w-[15%] object-cover h-[90%] rounded-full"   src="https://img.freepik.com/premium-photo/black-white-image-man-s-head-round-background_745528-17173.jpg"alt="LOGO">


                <% } %>

    </div>

</nav>