<%- include('partials/header') %>
<%- include('partials/nav') %>


<div class="w-[80%] mx-auto p-10 bg-zinc-700 rounded">
    <h1 class="mb-10 text-white text-5xl font-bold">this is login profile page</h1>
    <a class="bg-red-300 px-5 py-2 text-white rounded" href="/user/logout">Log out</a>
</div>


<%- include('partials/footer') %>